.past-rankings-wrapper {
  margin-top: 1.5rem;
  width: 100%;
}

.past-rankings-heading {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.past-rankings-scroll {
  overflow-x: auto;
  border: 5px solid lightblue;
  border-radius: 5px;
  background-color: rgba(166, 233, 245, 0.8);
}

.past-rankings-table {
  border-collapse: collapse;
  width: 100%;
}

.rank-header-cell,
.week-header-cell {
  min-width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(67, 164, 209);
  color: white;
  font-weight: bold;
  font-size: .875rem;
  position: sticky;
  top: 0;
}

.rank-header-cell {
  left: 0;
  z-index: 1;
}

.rank-cell {
  min-width: 2.5rem;
  max-width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-weight: 550;
  position: sticky;
  left: 0;
  background-color: inherit;
}

.past-rankings-table tbody tr:nth-child(odd) .rank-cell {
  background-color: rgb(135, 202, 233);
}

.past-rankings-table tbody tr:nth-child(even) .rank-cell {
  background-color: rgb(166, 233, 245);
}

.ranking-cell {
  min-width: 2.5rem;
  max-width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}
