.custom-button {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 36, 39);
    font-weight: 650;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu.min-width-0 {
    min-width: 0;
}

.custom-button:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.dropdown-toggle.show, .dropdown-toggle:active{
    background-color: rgb(255, 255, 255) !important;
}

.custom-button:disabled {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 36, 39);
    cursor: default;
    opacity: 0.5;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.inactive-admin {
    pointer-events: none;
    opacity: 0.5;
}

.admin-text {
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 0.5rem;
}

.dropdown-menu {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}